body {
  margin: 0;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 1.3rem;
  color: #40514E;
}

.top-div {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Yellowtail', cursive;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'EB Garamond', serif;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.middle-div .bottom-div .bottom-cloud {
  position: absolute;
}

.profile {
  width: 35%;
  margin: 50px auto 50px auto;
}

.carlos {
  width: 45%;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 70px;
}

.bottom-cloud {
  position: absolute;
}

.skill-row {
  width: 50%;
  margin: 6.35rem auto 6.25rem auto;
  text-align: left;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.wheel {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 20px;
}

.copy {
  padding: 20px 0;
  font-size: 0.75rem;
  color: #EAF6F6;
}

a {
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.contact-me {
  margin-bottom: 100px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'EB Garamond', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 20px auto 20px auto;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.cantwait {
  text-decoration: underline;
}
